
<div class="section-heading"> <div> <h2 class="mt-0">Prosecutorial Performance Indicators Are:</h2> </div></div>
<div class="container">
    
    <div class="row row-cols-2">
      <div class="col" ><h3>Impact Oriented</h3></div>
      <div class="col" ><h3>Responsive</h3></div>
    </div>
    <div class="row row-cols-3 justify-content-center">
        <div class="col" ><p>PPIs are used to have a real impact, not just to count numbers. They help prosecutors and communities flag problems, ask additional questions, develop solutions, and measure change over time.</p></div>
        <div class="col" ><p>PPIs are reflective of community expectations. People need safety and protection from violence, but they also demand accountability and transparency. Plus, community members want their taxes to fund effective and fair prosecution.</p></div>

      </div>
  </div>

  <div class="container">
    
    <div class="row row-cols-2 justify-content-center ">
      <div class="col" ><h3>Comprehensive</h3></div>
      <div class="col"><h3> Data Informed</h3></div>
    </div>
    <div class="row row-cols-3 justify-content-center">
        <div class="col" ><p>PPIs focus on a multilayered range of organizational objectives and prosecutorial roles. While meaningful individually, PPIs are interdependent and especially helpful when trends are viewed together. </p></div>
        <div class="col" ><p>PPIs are based on data, not opinion. This also means that data quality issues are addressed before using PPIs in your office. Your data are more useful than you think.</p></div>
      </div>


      <div class="row row-cols-2 justify-content-center ">
        <div class="col" ><h3>Objective</h3></div>
        <div class="col" ><h3>Free</h3></div>
      </div>
      <div class="row row-cols-3 justify-content-center">
          <div class="col" ><p>PPIs are the result of an independent process for deciding what constitutes success. One should not decide how to measure their own success; otherwise everyone would be successful.</p></div>
          <div class="col" ><p> PPIs are open and free to use. This includes  complete list of indicators and implementation materials. Use them for public good.</p></div>
        </div>
  </div>