
 <div class="implementation-container"> 
   
  <h1> Implementation Steps </h1>
    <div class="imp_wrapper">
    
    <div class="imp_card">
      <h1 class="card__heading"> 1</h1>
      
      <a href="/courses/example/anticipating_challenges/", class="card__footer">Anticipating Challenges</a>
    </div>
    
    <div class="imp_card">
      <h1 class="card__heading"> 2</h1>
      <a href="/courses/example/staff_capacity_assessment/", class="card__footer">Staff Capacity Assessment</a>
      </div>

    <div class="imp_card">
      <h1 class="card__heading"> 3</h1>
      <a href="/courses/example/data_assessment/", class="card__footer">Data Assessment</a>
      </div>

    <div class="imp_card">
      <h1 class="card__heading"> 4</h1>
      <a href="/courses/example/office_wide_engagement/", class="card__footer">Office-wide Engagement</a>      
      </div>

    <div class="imp_card">
      <h1 class="card__heading"> 5</h1>
        <a href="/courses/example/piloting/", class="card__footer">Piloting</a> 
      </div>
    
    <div class="imp_card">
      <h1 class="card__heading"> 6</h1>
        <a href="/courses/example/training/", class="card__footer">Training</a> 
      </div>

    <div class="imp_card">
      <h1 class="card__heading"> 7</h1>
      <a href="/courses/example/ongoing_data_collection/", class="card__footer">Ongoing Data Collection</a>
   </div>

    <div class="imp_card">
      <h1 class="card__heading"> 8</h1>
      <a href="/courses/example/diagnostics/", class="card__footer">Diagnostics</a>
      </div>

    <div class="imp_card">
      <h1 class="card__heading"> 9</h1>
      <a href="/courses/example/policy_development/", class="card__footer">Policy Development</a> 
      </div>

  </div>

  </div>
</div>