<div class="ppi-container">

    

<p>This project is built and maintained by researchers at Loyola University Chicago and Florida International University. It was created with support from the John D. and Catherine T. MacArthur Foundation as part of the Safety and Justice Challenge , which seeks to reduce over-incarceration by changing the way America thinks about and uses jails.</p>


<div class="container">
    
    <div class="row row-cols-3 justify-content-center">
      <div class="col" >{{ readFile "static/img/loyola.svg" | safeHTML }}</div>
      <div class="col">{{ readFile "static/img/sjc_logo.svg" | safeHTML }}</div>
      <div class="col">{{ readFile "static/img/fiu_logo.svg" | safeHTML }}</div>
    </div>
  </div>

  </div>