
  <div class="ppi-container">
    <div class="section-heading"></div>
    <div class="center-text"> <h1 class="mt-0">Prosecutorial Performance Indicators</h1> </div> </div>
  <div class="wrapper">
    <h3 >Fairness & Justice</h3>
    <div class="fairness_card b"><h4> <a style="color:black;"  href="/project/min_un_puni/">Minimizing Unnecessary Punitiveness</a></h4></div>
    <div class="fairness_card c"><h4> <a style="color:black;" href="/project/pros_ethics_integrit/">Prosecutorial Ethics & Integrity</a></h4></div>
    <div class="fairness_card d"><h4> <a style="color:black;" href="/project/race_eth_diff/">Racial & Ethnic Differences</a></h4></div>
    <h3>Capacity & Efficiency</h3>
    <div class="capacity_card  f"><h4> <a style="color:black;" href="/project/office_capacity/">Organizational & Staff Capacity</a></h4></div>
    <div class="capacity_card  g"><h4> <a style="color:black;" href="/project/time_resource_prior/">Time and Resource Prioritization</a></h4></div>
    <div class="capacity_card  h"><h4> <a style="color:black;" href="/project/case_processing/">Timeliness of Case Processing</a></h4></div>
    <h3> Community Safety & Well-Being</h3>
    <div class="se_wb_card  j"><h4> <a style="color:black;" href="/project/serious_crime/"> Addressing Serious Crime</a></h4></div>
    <div class="se_wb_card  k"><h4> <a style="color:black;" href="/project/comm_outreac/">Community Outreach & Engagement</a></h4></div>
    <div class="se_wb_card l"><h4> <a style="color:black;" href="/project/protect_serve_victims/">Protecting & Serving Victims</a></h4></div>
  </div>
</div>
